@import 'partials/game'
@import 'partials/vars'

body
  font:
    family: $primary-font

  &::after
    position: absolute
    content: ''
    top: 0
    background-color: #fff
    border-radius: 10px
    width: 70%
    height: 80vh
    margin: 10vh 15%
    text-align: center
    opacity: 0.7

.clock
  font-size: 50px
  font-weight: 800
  &-separator
    margin: 40px auto

.math-op-icon
  width: 20px

.btn
  background-color: $primary-red
  color: #fff
  border: 0
  box-shadow: 0px
  border-radius: 4px
  padding: 12px 18px
  margin-top: 10px

.restart
  margin: 3px
